.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    color: gray; 
    margin: 0;
    padding: 30px;

}